In [15]:
import pyodbc
import pandas as pd

In [7]:


# Conexão com o banco de dados
conn = pyodbc.connect('Driver={SQL Server};''Server=Mimosa\SQLEXPRESS);''Database=VendasDB;''Trusted_Connection=True;')

# Criar o objeto cursor
cursor = conn.cursor()

# Executar a consulta SQL
cursor.execute('SELECT * FROM tbl_Clientes')

# Busca todos os resultados
for row in cursor:
    print(row)

NameError: name 'pyodbc' is not defined